body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Rubik;
}

.wrapper{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(32, 1fr);
    & .sec_one{
        position: relative;
        z-index: -1;
        background-image: url(img/fabryka.png);
        filter: brightness(0.51);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        grid-column: 1 / -1;
        grid-row: 1 / span 7;
    }
    // sekcja 1
    & nav.navigation{
        border-bottom: 1px solid rgba(16, 16, 16, 0.12);
        margin-bottom: 1em;
        height: 100%;
        grid-column: 1 / -1;
        grid-row: 1;
        & .logo{
            display: block;
            float: left;
            margin: 2em 2em 0 3em;
        }
        & .menu{
            display: block;
            float: left;
            margin-left: 40px;
            height: 100%;
            font-weight: 500;
            font-size: 0.9em;
            & div.menu_s{
                float: left;
                height: 100%;
                margin-right: 10px;
                opacity: 0.65;
                @media only screen and (min-width: 1600px) {
                    font-size: 20px;
                    margin-left: 20px;
                }
                &:hover{
                    border-bottom: 3px solid #c83535;
                    opacity: 1;
                }
                & a{
                    position: relative;
                    top: 40%;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
        }
        & .serch{
            width: fit-content;
            height: 30px;
            float: left;
            position: absolute;
            right: 10%;
            top: 5%;

            &:hover{
                border-bottom: 2px solid #fff;
            }
            & input{
                background: none;
                color: white;
                border: none;
                font-size: 1rem;
                opacity: 0.8;
                @media only screen and (min-width: 1600px) {
                    font-size: 1.5rem;
                }
                &:focus{
                    border: none;
                    opacity: 1;
                }
            } 

        }
        
    }
    // rozwijane menu wyboru języka

    & .lang{
        position: absolute;
        right: 40px;
        top: 10px;
        width: 60px;
        height: 80px;
        & li {
            list-style-type: none;
            & > a {
                text-decoration: none;
                cursor: pointer;
            }
        }
        & ul{
            padding: 0;
            display: none;
        }
        & ol{
            & li{
                border: 2px solid #fff;  
                border-radius: 3px;
                width: 70px;
                height: 30px;
                text-align: center;
                padding-top: 10px;
                &:hover{
                    background-color: #fff;
                    &  a{
                        color: #000;
                    }
                }
            }
            & > li > a{
                color: #fff; 
            }
            &:hover >  ul{
                display: block;
                & li{
                    background-color: white;
                    border-top: 2px solid #a0a0a0;
                    & a{
                        border-radius: 3px;
                        color: #000;    
                    }
                }
            }
        }

    }

    //------------------------------
    & .right_menu{
        grid-column: 8 / 15;
        grid-row: 2 / 7;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        color: #fff;
        padding-top: 10%;
        & .rec{
            background-color: #006cb5;
            margin: 1%;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            .cont{
                position: absolute;
                bottom: 10%;
                left: 10%;
                h2{
                    font-size: .9rem;
                    margin-bottom: 5%;
                }
                p{
                    margin: 0;
                    font-size: 0.7rem;
                }    
            }
            &:hover{
                background-size: cover;
                background-position: 0;
                .cont{
                    display: none;
                }
            }
        }
        & .rec1{
            background-image: url(img/ht_plus.png);
            background-size: 80%;
            background-position: 80% 50%;
            &:hover{
                background-image: url(img/ht_plus_hover.png);
            }
        }
        & .rec2{
            background-image: url(img/ultra_db.png);
            background-size: 100%;
            background-position: 100% 40%;
            &:hover{
                background-image: url(img/ultra_db_hover.png);
            }
        }
        & .rec3{
            background-image: url(img/skolan.png);
            grid-row: 2;
            background-size: 70%;
            background-position: 80% 20%;
            &:hover{
                background-image: url(img/skolan_hover.png);
            }
        }
        & .rec4{
            background-image: url(img/kg.png);
            grid-row: 2;
            grid-column: 3;
            background-size: 60%;
            background-position: 35% 70%;
            &:hover{
                background-image: url(img/kg_hover.png);
            }
        }
        & .rec5{
            background-image: url(img/studnie.png);
            grid-row: 2;
            grid-column: 4;
            background-size: 55%;
            background-position: 110% 45%;
            &:hover{
                background-image: url(img/studnie_hover.png);
            }
        }
        & .rec6{
            background-image: url(img/kg2000.png);
            grid-row: 3;
            background-size: 55%;
            background-position: 110% 70%;
            &:hover{
                background-image: url(img/kg2000_hover.png);
            }
        }
        & .rec7{
            background-image: url(img/magnacor.png);
            grid-row: 3;
            background-size: 90%;
            background-position: 110% 70%;
            &:hover{
                background-image: url(img/magnacore_hover.png);
            }
        }
        & .rec8{
            background-image: url(img/pe_hd.png);
            grid-row: 3;
            background-size: 90%;
            background-position: 110% 70%;
            &:hover{
                background-image: url(img/pe_hd_hover.png);
            }
        }
        & .rec9{
            background-image: url(img/drenaz.png);
            grid-row: 3;
            background-size: 90%;
            background-position: 100% 60%;
            &:hover{
                background-image: url(img/drenaz_hover.png);
            }
        }
    }
    & .left_sec{
        grid-column: 2/8;
        grid-row: 3/6;
        color: #fff;
        margin: 10% 7% auto 15%;
        & h2{
            font-weight: 400;
            font-size: 2.5em;
            span{
                font-weight: 500;
            }
        }
        & p{
            opacity: 0.66;
            font-weight: 400;
            font-size: 0.9em;
        }
        & button{
            border: none;
            float: left;
            margin: 0.3em;
            height: 3em;
            padding: 0 1em;
            color: #fff;
            font-size: 0.88em;
            font-weight: 700;
        }
        & .explore{
            background-color: #c83535;
            &:hover{
                background-color: #b22829;
            }
        }
        & .write{
            background-color: rgba(16, 16, 16, 0);
            border: 1px solid #fff;
            &:hover{
                color: #000;
                background-color: #fff;
                opacity: 1;
            }
        }
    }
    // sekcja 2 
    & .sec_two{
        grid-column: 1 / -1;
        grid-row: 8 / span 4;
        background-color: #f5f5f5;
        & .content_s2{
            height: 100%;
            width: 75%;
            margin: 10% auto 0;
            text-align: center;
            & h2{
                font-size: 29px;
            }
            & hr{
                border: 2px solid #006cb5;
                width: 10%;
                margin: 30px auto;
            }
            & p{
                font-size: 16px;
                color: #535353;
            }
        }
    }
    & .sec_three{
        grid-column: 1 / -1;
        grid-row: 12 / span 5;
        background-color: #fff;
        & img.pipe{
            float: left;
            width: 42vw;
            padding: 100px 50px 100px 90px;
        }
        & .right_s3{
            width: 90%;
            margin-top: 5%;
            & h3{
                font-size: 30px;
            }
            & hr{
                width: 3%;
                border: 1px solid #006cb5;;
            }
            & ul{
                list-style-image: url(img/li_style.png);
                & li{
                    color: #4d4d4d;
                    margin: 20px;
                }
    
            }
            & .btn{
                border: none;
                background-color: #c83535;
                color: #fff;
                height: 50px;
                &:hover{
                    background-color: #b22829;
                }
            }

        }

    }
    & .sec_four{
        grid-column: 1 / -1;
        grid-row: 17 / span 5;
        background-color: #000;
        background-image: url(img/fabryka_2.png);
        background-size: auto 100%;
        color: #fff;
        font-size: 17px;
        & .box{
            width: 33vw;
            height: 100%;
            margin: 0;
            padding: 0;
            float: left;
            & div{
                width: 50%;
                margin: 30% auto 0;
            }
            & h3{
                font-size: 1.5em;
            }
            & p{
                font-size: 0.8em;
            }
            & img{
                margin-right: 10%;
            }    
            & hr{
                width: 15%;
                border: 1px solid #2a8ed1;
            } 
        }
        & .box_mid div{
            border: 2px solid #2a8ed1;
            padding: 15%;
            margin-top: 15%;
        }
    }
    & .sec_five{
        grid-column: 1 / -1;
        grid-row: 22 / span 6;
        background-color: #fff;
        text-align: center;
        & h2{
            font-size: 2em;
        }
        & hr{
            width: 10%;
            border: 1px solid #006cb5;
        }
        & p{
            margin: 3% 15%;
            color: #7a7a7a;
        }
        & .catalogs{
            width: 30%;
            height: 20%;
            margin-left: 8%;
            margin-right: 4%;
            background-color: #006cb5;
            background-image: url(img/bg_catalog.png);
            background-size: cover;
            float: left;
            position: relative;
        }
        & .price{
            height: 30%;
            width: 30%;
            background-image: url(img/bg_rury.png);
            background-color: rgba(#c83535, .8);
            background-blend-mode: multiply;
            position: relative;
            float: left;
        }
        & .square{
            margin-top: 5%;
            height: 45%;
            width: 40%;
            & .ca{
                position: absolute;
                bottom: 0;
                right: 10%;
                height: 70%;
            }
            & span{
                display: block;
                width: 50%;
                position: absolute;
                text-align: left;
                left: 5%;
                top: 10%;
                font-size: 20px;
                color: #fff;
                & h3{
                    font-size: 1em;
                }
                & p{
                    font-size: 0.6em;
                    margin: 0;
                    color: #fff;
                }
            }
            & .btn_check{
                margin-top: 2em;
                height: 3em;
                color: white;
                border: 2px solid #fff;
                border-radius: 3px;
                background: none;
            }
        }

    }
    & .blue_rec{
        grid-column: 1 / -1;
        background-color: #006cb5;
        background-image: url(img/bg_rury2.png);
        & span{
            margin: 2% auto 0;
            display: block;
            width: 70%;
            font-size: 20px;

            & p{
                color: #fff;
                float: left;
                margin-right: 40px;
            }
            & .btn_write{
                background: none;
                color: white;
                border: 2px solid #fff;
                height: 3em;
                border-radius: 3px;
            }

        }
    }
    & footer{
        grid-column: 1 / -1;
        grid-row: span 3;
        background-color: white;
        position: relative;
        & .logo{
            float: left;
            width: 30%;
            position: absolute;
            left: 5%;
            top: 10%;
            color: #a0a0a0;

        }
        & span{
            position: absolute;
            float: left;
            width: 50%;
            right: 0%;
            top: 10%;
            & ul{
                list-style: none;
                padding: 0;
                & li{
                    color: #a0a0a0;
                    cursor: pointer;
                    &:hover{
                        color: #006cb5;
                    }
                }
            }
            & img{
                opacity: .3;
                &:hover{
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
        & div{
            float: left;
            margin-left: 3%;
            margin-right: 3%;
        }
        & .num{
            color: #0a609e;
            font-weight: 600;
            font-size: 1.2em;
            margin-bottom: 0;
        }
        & .mail{
            color: #a0a0a0;
            margin-top: 0;
        }
        & h4{
            margin-bottom: 0;
        }
        & p{
            margin-top: 0;
            color: #a0a0a0;
        }
    }
    & .last_sec{
        grid-column: 1 / -1;
        grid-row: span 1;
        border-top: 2px solid rgba(227, 227, 227, .53);
        position: relative;
        & p{
            font-size: 0.8rem;
            color: #bebebe;
            position: absolute;
            top: 20%;
        }
        & .magna{
            float: left;
            left: 15%;
        }
        & .empres{
            right: 15%;
        }

    }
}



