body {
  width: 100%;
  height: 100%;
  background-color: bisque;
  margin: 0;
  font-family: Rubik;
}

.wrapper {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  -ms-grid-rows: (1fr)[28];
      grid-template-rows: repeat(28, 1fr);
}

.wrapper .sec_one {
  position: relative;
  z-index: -1;
  background-image: url(img/fabryka.png);
  -webkit-filter: brightness(0.51);
          filter: brightness(0.51);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  grid-row: 1 / span 7;
}

.wrapper nav.navigation {
  border-bottom: 1px solid rgba(16, 16, 16, 0.12);
  margin-bottom: 1em;
  height: 100%;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.wrapper nav.navigation .logo {
  display: block;
  float: left;
  margin: 2em 2em 0 3em;
}

.wrapper nav.navigation .menu {
  display: block;
  float: left;
  height: 100%;
  font-weight: 500;
  font-size: 0.9em;
}

.wrapper nav.navigation .menu div.menu_s {
  float: left;
  height: 100%;
  margin-right: 1em;
  opacity: 0.65;
}

.wrapper nav.navigation .menu div.menu_s:hover {
  border-bottom: 3px solid #c83535;
  opacity: 1;
}

.wrapper nav.navigation .menu div.menu_s a {
  position: relative;
  top: 40%;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.wrapper .right_menu {
  -ms-grid-column: 8;
  -ms-grid-column-span: 7;
  grid-column: 8 / 15;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2 / 7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  color: #fff;
  padding-top: 10%;
}

.wrapper .right_menu .rec {
  background-color: #006cb5;
  margin: 1%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper .right_menu .rec:hover {
  background-size: cover;
  background-position: 0;
}

.wrapper .right_menu .rec:hover p {
  display: none;
}

.wrapper .right_menu .rec1 {
  background-image: url(img/ht_plus.png);
  background-size: 80%;
  background-position: 80% 50%;
}

.wrapper .right_menu .rec1:hover {
  background-image: url(img/ht_plus_hover.png);
}

.wrapper .right_menu .rec2 {
  background-image: url(img/ultra_db.png);
  background-size: 100%;
  background-position: 100% 40%;
}

.wrapper .right_menu .rec2:hover {
  background-image: url(img/ultra_db_hover.png);
}

.wrapper .right_menu .rec3 {
  background-image: url(img/skolan.png);
  -ms-grid-row: 2;
  grid-row: 2;
  background-size: 70%;
  background-position: 80% 20%;
}

.wrapper .right_menu .rec3:hover {
  background-image: url(img/skolan_hover.png);
}

.wrapper .right_menu .rec4 {
  background-image: url(img/kg.png);
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  background-size: 60%;
  background-position: 35% 70%;
}

.wrapper .right_menu .rec4:hover {
  background-image: url(img/kg_hover.png);
}

.wrapper .right_menu .rec5 {
  background-image: url(img/studnie.png);
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  grid-column: 4;
  background-size: 55%;
  background-position: 110% 45%;
}

.wrapper .right_menu .rec5:hover {
  background-image: url(img/studnie_hover.png);
}

.wrapper .right_menu .rec6 {
  background-image: url(img/kg2000.png);
  -ms-grid-row: 3;
  grid-row: 3;
  background-size: 55%;
  background-position: 110% 70%;
}

.wrapper .right_menu .rec6:hover {
  background-image: url(img/kg2000_hover.png);
}

.wrapper .right_menu .rec7 {
  background-image: url(img/magnacor.png);
  -ms-grid-row: 3;
  grid-row: 3;
  background-size: 90%;
  background-position: 110% 70%;
}

.wrapper .right_menu .rec7:hover {
  background-image: url(img/magnacore_hover.png);
}

.wrapper .right_menu .rec8 {
  background-image: url(img/pe_hd.png);
  -ms-grid-row: 3;
  grid-row: 3;
  background-size: 90%;
  background-position: 110% 70%;
}

.wrapper .right_menu .rec8:hover {
  background-image: url(img/pe_hd_hover.png);
}

.wrapper .right_menu .rec9 {
  background-image: url(img/drenaz.png);
  -ms-grid-row: 3;
  grid-row: 3;
  background-size: 90%;
  background-position: 100% 60%;
}

.wrapper .right_menu .rec9:hover {
  background-image: url(img/drenaz_hover.png);
}

.wrapper .left_sec {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  color: #fff;
  margin: 10% 7% auto 15%;
}

.wrapper .left_sec h2 {
  font-weight: 400;
  font-size: 2.5em;
}

.wrapper .left_sec h2 span {
  font-weight: 500;
}

.wrapper .left_sec p {
  opacity: 0.66;
  font-weight: 400;
  font-size: 0.9em;
}

.wrapper .left_sec button {
  border: none;
  float: left;
  margin: 0.3em;
  height: 3em;
  padding: 0 1em;
  color: #fff;
  font-size: 0.88em;
  font-weight: 700;
}

.wrapper .left_sec .explore {
  background-color: #c83535;
}

.wrapper .left_sec .explore:hover {
  background-color: #b22829;
}

.wrapper .left_sec .write {
  background-color: rgba(16, 16, 16, 0);
  border: 1px solid #fff;
}

.wrapper .left_sec .write:hover {
  color: #000;
  background-color: #fff;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */